{
	email danicosme@proton.me
	# debug
	metrics
	admin 0.0.0.0:2019
}

danicos.me www.danicos.me {
	root * /var/www/homepage
	file_server
}

small.tech {
	root * /srv/http/small_tech
	file_server
}

ape.danicos.me {
	reverse_proxy localhost:4000
}

# sync.danicos.me {
# 	reverse_proxy http://apex:8384 {
# 		header_up Host {upstream_hostport}
# 	}
# }

# git.danicos.dev {
# 	@badbots {
# 		header From *openai.com*
# 		header User-Agent *GPTBot*
# 	}
# 	abort @badbots
# 	reverse_proxy http://apex:4001
# }

# ui
# temporalui.danicos.dev {
# 	reverse_proxy apex:8233 {
# 		header_up Upgrade {http.request.header.Upgrade}
# 		header_up Connection {http.request.header.Connection}
# 	}
# }

# server
# temporal.danicos.dev:7233 {
# 	reverse_proxy h2c://localhost:7236
# }

# music.danicos.me {
#     reverse_proxy http://ubi-prime:4533 {
#         header_up Host {upstream_hostport}
#     }
# }
# 
# book.danicos.me {
#     reverse_proxy http://ubi-prime:80 {
#         header_up Host {upstream_hostport}
#     }
# }
